*.o
*~
.deps
Makefile
Makefile.in
aclocal.m4
bootlogd
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
fstab-decode
halt
init
install-sh
killall5
last
libtool
ltmain.sh
m4
mesg
missing
mountpoint
runlevel
shutdown
stamp-h1
sulogin
utmpdump
wall
