*.o
*~
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
bootlogd
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
fstab-decode
halt
init
install-sh
killall5
libtool
ltmain.sh
m4
missing
runlevel
shutdown
stamp-h1
